RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

#################################### ALL FOR DEVELOPER #################################

RewriteRule ^upload-photo$ core/upload-photo.php [L]

### PRODUCT ###
RewriteRule ^movies$ controllers/developer/movies/movies.php [L]
RewriteRule ^movies/([0-9]+)$ controllers/developer/movies/movies.php?moviesid=$1 [L]
RewriteRule ^movies/active/([0-9]+)$ controllers/developer/movies/active.php?moviesid=$1 [L]


### PRODUCT ###
RewriteRule ^top-movies$ controllers/developer/top-movies/top-movies.php [L]
RewriteRule ^top-movies/([0-9]+)$ controllers/developer/top-movies/top-movies.php?topmoviesid=$1 [L]
RewriteRule ^top-movies/active/([0-9]+)$ controllers/developer/top-movies/active.php?topmoviesid=$1 [L]


### PRODUCT ###
RewriteRule ^genre$ controllers/developer/settings/genre/genre.php [L]
RewriteRule ^genre/([0-9]+)$ controllers/developer/settings/genre/genre.php?genreid=$1 [L]
RewriteRule ^genre/active/([0-9]+)$ controllers/developer/settings/genre/active.php?genreid=$1 [L]

  